<style>
    .table-spacing td {
        padding: 0 15px 0 15px;
    }
</style>

<table class="table-spacing">

    <tr>
        <td style="text-align:center">
            <h2 style="font-weight:200;">The library</h2>
        </td>
        <td style="text-align:center">
            <h2 style="font-weight:200;">Scalability</h2>
        </td>
        <td style="text-align:center">
            <h2 style="font-weight:200;">Getting started</h2>
        </td>
    </tr>
    <tr>
        <td class="tg"><a style="font-weight:bold"
                href="namespace_mo_f_e_m.html">MoFEM</a> is an open source (<a
                href=https://www.gnu.org/licenses/lgpl.html>GNU LGPL</a>) C++
                finite element library. It is capable of dealing with complex
                multi-physics problems with arbitrary levels of approximation
                and refinement. <a style="font-weight:bold"
                href="namespace_mo_f_e_m.html">MoFEM</a> can read various input
            file formats, and work with
            preprocessors like Gmsh, Salome, Cubit, and many more.
        </td>

        <td class="tg"><a style="font-weight:bold"
                href="namespace_mo_f_e_m.html">MoFEM</a> can be used for
            parallel processing on desktop
            computers and high-performance clusters. Its modular toolkit-like
            structure
            allows for development of open modules and private industrial
            sensitive
            projects. At the same time, it is designed to suit both researchers
            developing
            computer methods and engineers solving real practical problems.
        </td>

        <td class="tg"><a style="font-weight:bold"
                href="usersmain.html">Getting started</a> offers a wide range of
            information including guides on installation, basic tutorials,
            instructive videos. <a style="font-weight:bold"
                href="developersmain.html">Developer</a> section contains <a
                style="font-weight:bold"
                href="namespace_mo_f_e_m.html">MoFEM</a> design
            philosophy and tutorials on how to implement problems from solid
            mechanics to fluid
            mechanics.
        </td>
    </tr>
</table>