<div align="center">
    <a class="twitter-timeline tw-align-center"
        href="https://twitter.com/mofemjoseph"
        data-widget-id="617464376874897408">Tweets by
        @mofemjoseph</a>
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>
</div>